/*! Your Custom styles */

body{
	background-color:#f8f8fa;
	margin:0 20px;
	
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;

}

section:hover{
	border:10px solid #67ff4d;
	background-color:#b8cee0;
	color:#304251;
}

section.intro > table{
	width:100%;
	border:0px solid white;
	text-align:center
}



section.intro a> h1{
	
	text-align:center;
	
}

section .info{
	
	width:45%;
	float:left;
	margin-left: 50px;
	padding: 50px;
}

section.info > h2{
	
	left:-5px;
	text-align:left;
}


section.info  div.time{
	text-align:right;
}
 
